.info {
  position: relative;
  font-size: 18px;

  &--address,
  &--phone {
    padding-left: 35px;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 21px;
      height: 21px;

      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--address::before {
    background-image: url("./../img/header/address-icon.svg");
  }

  &--phone::before {
    background-image: url("./../img/header/phone-icon.svg");
  }

  @include mediaTablet {
    font-size: 14px;

    &--address,
    &--phone {
      padding-left: 26px;
    }
  }
}
